In [6]:
import pandas as pd
from utils.getfund import data_operator
import pandas as pd
from utils.operatefund import Operator, User
from models.models import db_operator
from utils.readconfig import config
import datetime
import os
from multiprocessing import Process, Queue, Pool
# from strategies.fixed import Strategy
exec("from strategies.{} import Strategy".format(config["strategy_file"]))
from concurrent.futures import ThreadPoolExecutor
from strategies.fixed import Strategy
import datetime

2020-07-07 21:33:39,423 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-07 21:33:39,424 INFO sqlalchemy.engine.base.Engine ()
2020-07-07 21:33:39,425 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-07 21:33:39,425 INFO sqlalchemy.engine.base.Engine ()
2020-07-07 21:33:39,427 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Fund")
2020-07-07 21:33:39,427 INFO sqlalchemy.engine.base.Engine ()
2020-07-07 21:33:39,429 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Record")
2020-07-07 21:33:39,430 INFO sqlalchemy.engine.base.Engine ()
2020-07-07 21:33:39,431 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("User")
2020-07-07 21:33:39,431 INFO sqlalchemy.engine.base.Engine ()
2020-07-07 21:33:39,432 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Asset")
2020-07-07 21:33:39,433 INFO sqlalchemy.engine.base.Engine ()

In [7]:
fund_list = ["110013"]
fd_data = data_operator.load_funds(fund_list)
fd_data.head(10)

,fund_code,date,price,accumulate,daily_rate,purchase_state,ransom_state,dividends
0,110013,2012-07-09,1.172,5.172,-0.0051,开放申购,开放赎回,
1,110013,2012-07-10,1.157,5.152,-0.0128,开放申购,开放赎回,
2,110013,2012-07-11,1.159,5.155,0.0017,开放申购,开放赎回,
3,110013,2012-07-12,1.179,5.182,0.0173,开放申购,开放赎回,
4,110013,2012-07-13,1.178,5.181,-0.0008,开放申购,开放赎回,
5,110013,2012-07-16,1.147,5.139,-0.0263,开放申购,开放赎回,
6,110013,2012-07-17,1.148,5.140,0.0009,开放申购,开放赎回,
7,110013,2012-07-18,1.122,5.105,-0.0226,开放申购,开放赎回,
8,110013,2012-07-19,1.121,5.104,-0.0009,开放申购,开放赎回,
9,110013,2012-07-20,1.107,5.085,-0.0125,开放申购,开放赎回,