In [1]:
import pandas as pd

In [3]:
from utils.getfund import data_operator
import pandas as pd
from utils.operatefund import Operator, User
from models.models import db_operator
from utils.readconfig import config
import datetime
import os
from multiprocessing import Process, Queue, Pool
# from strategies.fixed import Strategy
exec("from strategies.{} import Strategy".format(config["strategy_file"]))
from concurrent.futures import ThreadPoolExecutor
from strategies.fixed import Strategy

In [4]:
fds_list = db_operator.sql_query(sql = "SELECT distinct fund_code from Fund").fund_code.values

In [12]:
testuser = User(username="tester_jupyter", password="0000", my_cash=10000)
test_operator = Operator(user=testuser)

In [6]:
%time fds_all_3y = data_operator.load_funds(fund_codes=fds_list,duration=[datetime.datetime(2015,5,10), datetime.datetime(2018,5,10)],orderby="price", asc="asc")

Wall time: 32.8 s

In [14]:
%time fds_all_3y = data_operator.load_funds(fund_codes=fds_list,duration=[datetime.datetime(2015,5,10), datetime.datetime(2018,5,10)],orderby="price", asc="asc")
%time fds_all_2y = fds_all_3y[fds_all_3y.date > datetime.datetime(2016,5,10)]
%time fds_all_1y = fds_all_2y[fds_all_2y.date > datetime.datetime(2017,5,10)]

Wall time: 19.7 s
Wall time: 220 ms
Wall time: 140 ms

In [33]:
test_operator.buy_at_date(fund_code="110013", date=datetime.datetime(2018,5,7), amount=100, if_value=True)
test_operator.buy_at_date(fund_code="110031", date=datetime.datetime(2018,5,8), amount=100, if_value=True)
test_operator.buy_at_date(fund_code="000003", date=datetime.datetime(2018,5,8), amount=100, if_value=True)

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

(True, 'The latest data is found.')

In [110]:
%time today_date = datetime.datetime(2018,5,10)
%time res_3y = fds_all_3y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)
%time res_2y = fds_all_2y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)*0.666
%time res_1y = fds_all_1y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)*0.333
%time result_list = res_3y[res_3y>0.7]
%time result_list = result_list.append(res_2y[(res_2y>0.6) & (~(res_2y.index.isin(result_list.index)))])
%time result_list = result_list.append(res_1y[(res_1y>0.3) & (~(res_1y.index.isin(result_list.index)))])
result_list

Wall time: 0 ns

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Wall time: 19.1 s
Wall time: 18.6 s
Wall time: 17.5 s
Wall time: 1 ms
Wall time: 3 ms
Wall time: 2 ms

fund_code
000003    0.872727
000004    0.872727
000017    0.904545
000031    0.895455
000061    0.895455
            ...
002392    0.323877
002427    0.323877
003641    0.305630
050030    0.309549
210001    0.305630
Length: 272, dtype: float64

In [36]:
%time assets = testuser.asset
%time records = testuser.record

Wall time: 0 ns
Wall time: 0 ns

In [50]:
today_price = fds_all_3y[fds_all_3y.date == today_date][["fund_code","price"]].set_index("fund_code")
%time rec_in_days = records[(records.date>(today_date-datetime.timedelta(days=5))) & (records.fund_code.isin(fds_list)) & (records.buy_sell == "buy")].set_index("fund_code")
%time (rec_in_days[["price"]]-today_price).fillna(0).apply(lambda x: x[x<0]).index

Wall time: 3 ms
Wall time: 16 ms

Index(['110013', '110013', '110031', '110031'], dtype='object', name='fund_code')

In [125]:
avg_cost = assets[["my_fund","my_units","my_cost"]].rename(columns={"my_fund":"fund_code"}).set_index("fund_code")
avg_cost["avg_cost"] = (avg_cost["my_cost"]/avg_cost["my_units"])
prob_plus = (avg_cost["avg_cost"]-today_price["price"]).fillna(0)
prob_plus

AttributeError: 'float' object has no attribute 'index'

In [228]:
result_list = result_list.to_frame(name="prob")

In [232]:
a=((avg_cost["avg_cost"]-today_price["price"])/avg_cost["avg_cost"]).fillna(0)
a = a[a!=0].to_frame(name="prob")
print(result_list.loc["000003"])
print(result_list.index)
for x in a.index:
    if x in result_list.index:
        result_list.prob.loc[x] += a.prob.loc[x]
print(result_list.loc["000003"])

prob    0.884873
Name: 000003, dtype: float64
Index(['000003', '000004', '000017', '000031', '000061', '000067', '000068',
       '000092', '000209', '000290',
       ...
       '000522', '001061', '001212', '001213', '002194', '002392', '002427',
       '003641', '050030', '210001'],
      dtype='object', name='fund_code', length=272)
prob    0.890946
Name: 000003, dtype: float64

In [241]:
%time not_to_buy = rec_in_days[~rec_in_days.index.duplicated()].index

Wall time: 1 ms

In [95]:
res_2y

fund_code
000001    0.000000
000003    0.538274
000004    0.538274
000005    0.000000
000008    0.145973
            ...
750002    0.000000
750003    0.000000
750005    0.000000
762001    0.000000
770001    0.000000
Length: 4949, dtype: float64

In [54]:
res_3y[res_3y>0.5]

Series([], dtype: float64)

In [43]:
test_operator.buy_at_date(date=datetime.datetime(2016,5,23))

0.38636363636363635

In [55]:
%time today_date = datetime.datetime(2019,1,1)
%time dur = [today_date-datetime.timedelta(days=365*3), today_date]
%time fds_all_3y = data_operator.load_funds(fund_codes=fds_list, duration=dur, orderby="price", asc="asc")
%time fds_all_2y = fds_all_3y[fds_all_3y.date > today_date-datetime.timedelta(days=365*2)]
%time fds_all_1y = fds_all_2y[fds_all_2y.date > today_date-datetime.timedelta(days=365)]

Wall time: 0 ns
Wall time: 0 ns
Wall time: 30.4 s
Wall time: 344 ms
Wall time: 324 ms

In [56]:
%time res_3y = fds_all_3y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==datetime.datetime(2018,5,3)].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==datetime.datetime(2018,5,3)])>0 else 0)*0.66

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Wall time: 22.9 s

In [107]:
%time res_3y[(res_3y>0.6) & (res_3y.index.isin(result_list.index))]

Wall time: 2 ms

fund_code
000003    0.872727
000004    0.872727
000017    0.904545
000031    0.895455
000061    0.895455
            ...
690202    0.800000
700005    0.777273
700006    0.945455
720001    0.959091
730001    0.809091
Length: 257, dtype: float64

In [65]:
a = res_3y[res_3y>0.6]

fund_code
168204    0.624
213917    0.636
700005    0.612
dtype: float64

In [79]:
b = res_3y[(res_3y>0) & (res_3y<0.005)]

In [264]:
def if_buy_accerated(fund_list, today_date, if_verify=True, all_data_fund = None, user = testuser):
        dur = [today_date-datetime.timedelta(days=365*3), today_date]
        fds_all_3y = data_operator.load_funds(fund_codes=fund_list, duration=dur, orderby="price", asc="asc")
        today_price = fds_all_3y[fds_all_3y.date == today_date].set_index("fund_code")
        if len(today_price) ==0:
            return []
        fds_all_2y = fds_all_3y[fds_all_3y.date > today_date-datetime.timedelta(days=365*2)]
        fds_all_1y = fds_all_2y[fds_all_2y.date > today_date-datetime.timedelta(days=365)]
        res_3y = fds_all_3y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)
        res_2y = fds_all_2y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)*0.666
        res_1y = fds_all_1y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]<x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)*0.333
        result_list = res_3y[res_3y>0.7]
        result_list = result_list.append(res_2y[(res_2y>0.6) & (~(res_2y.index.isin(result_list.index)))])
        result_list = result_list.append(res_1y[(res_1y>0.3) & (~(res_1y.index.isin(result_list.index)))])
        assets = user.asset
        records = user.record
        rec_in_days = records[(records.date>(today_date-datetime.timedelta(days=5))) & (records.fund_code.isin(fund_list)) & (records.buy_sell == "buy")].set_index("fund_code")
        fund_not_buy = (rec_in_days[["price"]]-today_price[["price"]]).fillna(0).apply(lambda x: x[x<0])
        fund_not_buy = fund_not_buy[~fund_not_buy.index.duplicated()].index
        avg_cost = assets[["my_fund","my_units","my_cost"]].rename(columns={"my_fund":"fund_code"}).set_index("fund_code")
        avg_cost["avg_cost"] = avg_cost["my_cost"]/avg_cost["my_units"]
        avg_cost_prob = ((avg_cost["avg_cost"]-today_price["price"])/avg_cost["avg_cost"]).fillna(0)
        avg_cost_prob = avg_cost_prob[avg_cost_prob!=0].to_frame(name="prob")
        result_list = result_list.to_frame(name="prob")
        # result_list = result_list[~result_list.index.isin(fund_not_buy)]
        for x in avg_cost_prob.index:
            if x in result_list.index:
                result_list.prob.loc[x] += avg_cost_prob.prob.loc[x]
        return result_list[result_list.prob>0.7].fillna(0).sort_values("prob", ascending=False)[:10]

In [269]:
%time prob = if_sell_accerated(fund_list= fds_list,today_date=today_date,if_verify=True)

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()

Wall time: 43.1 s

In [268]:
def if_sell_accerated(fund_list, today_date=today_date, if_verify=True, all_data_fund = None, user = testuser):
        dur = [today_date-datetime.timedelta(days=365*3), today_date]
        assets = user.asset
        records = user.record
        if assets.empty:
            return []
        fds_all_3y = data_operator.load_funds(fund_codes=fund_list, duration=dur, orderby="price", asc="desc")
        today_price = fds_all_3y[fds_all_3y.date == today_date].set_index("fund_code")
        if len(today_price) ==0:
            return []
        res_3y = fds_all_3y.groupby(by="fund_code").apply(lambda x: len(x[:len(x)*3//10][x[x.date==today_date].price.iloc[0]>x.price])/len(x[:len(x)*3//10]) if len(x[:len(x)*3//10])>0 and len(x[x.date==today_date])>0 else 0)
        result_list = res_3y[res_3y>0.7]
        rec_in_days = records[(records.date>(today_date-datetime.timedelta(days=5))) & (records.fund_code.isin(fund_list)) & (records.buy_sell == "sell")].set_index("fund_code")
        fund_not_buy = (rec_in_days[["price"]]-today_price[["price"]]).fillna(0).apply(lambda x: x[x<0])
        fund_not_buy = fund_not_buy[~fund_not_buy.index.duplicated()].index
        avg_cost = assets[["my_fund","my_units","my_cost"]].rename(columns={"my_fund":"fund_code"}).set_index("fund_code")
        avg_cost["avg_cost"] = avg_cost["my_cost"]/avg_cost["my_units"]
        avg_cost_prob = ((today_price["price"]-avg_cost["avg_cost"])/avg_cost["avg_cost"]).fillna(0)
        avg_cost_prob = avg_cost_prob[avg_cost_prob>0.2].to_frame(name="prob")
        result_list = result_list.to_frame(name="prob")
        result_list = result_list[(~result_list.index.isin(fund_not_buy)) & (result_list.index.isin(avg_cost_prob.index))]
        for x in avg_cost_prob.index:
            if x in result_list.index:
                result_list.prob.loc[x] += avg_cost_prob.prob.loc[x]
        return result_list[result_list.prob>0.7].fillna(0).sort_values("prob", ascending=False)[:10]

In [270]:
prob

Empty DataFrame
Columns: [prob]
Index: []

In [84]:
a

fund_code
168204    0.624
213917    0.636
700005    0.612
dtype: float64

In [86]:
a

fund_code
168204    0.624
213917    0.636
700005    0.612
dtype: float64

In [105]:
result_list.index

Index(['000003', '000004', '000017', '000031', '000061', '000067', '000068',
       '000092', '000209', '000290',
       ...
       '660005', '660102', '673060', '688888', '690002', '690202', '700005',
       '700006', '720001', '730001'],
      dtype='object', name='fund_code', length=257)

In [88]:
fds_all_3y[fds_all_3y.date==datetime.datetime(2016,1,1)]

Empty DataFrame
Columns: [fund_code, date, price, accumulate, daily_rate, purchase_state, ransom_state, dividends]
Index: []

In [89]:
c = fds_all_3y[fds_all_3y.date==datetime.datetime(2016,1,1)]

In [90]:
c

Empty DataFrame
Columns: [fund_code, date, price, accumulate, daily_rate, purchase_state, ransom_state, dividends]
Index: []

In [91]:
len(c)

0

In [92]:
c = fds_all_3y[fds_all_3y.date==datetime.datetime(2016,1,19)]

In [93]:
c.iloc[0]

fund_code                      001481
date              2016-01-19 00:00:00
price                          0.0608
accumulate                     0.0608
daily_rate                      -0.05
purchase_state                 限制大额申购
ransom_state                     开放赎回
dividends
Name: 3, dtype: object

In [94]:
m = c.iloc[0]

In [95]:
m.price

0.0608

In [96]:
a

fund_code
168204    0.624
213917    0.636
700005    0.612
dtype: float64

In [104]:
# a = res_3y[res_3y>0.6 & res_3y.index.isin(result_list.index)]
result_list.index

Index(['000003', '000004', '000017', '000031', '000061', '000067', '000068',
       '000092', '000209', '000290',
       ...
       '660005', '660102', '673060', '688888', '690002', '690202', '700005',
       '700006', '720001', '730001'],
      dtype='object', name='fund_code', length=257)

In [99]:
b= res_3y[res_3y>0.5]

In [100]:
b

fund_code
000402    0.591000
000403    0.573000
001739    0.594000
001750    0.573000
004957    0.569412
005007    0.552391
005541    0.582353
005542    0.582353
005582    0.572000
005921    0.565714
161123    0.585000
162907    0.558000
164905    0.561000
168204    0.624000
213917    0.636000
630003    0.507000
630103    0.507000
700005    0.612000
700006    0.594000
dtype: float64

In [101]:
a

fund_code
168204    0.624
213917    0.636
700005    0.612
dtype: float64

In [102]:
a-b

fund_code
000402    NaN
000403    NaN
001739    NaN
001750    NaN
004957    NaN
005007    NaN
005541    NaN
005542    NaN
005582    NaN
005921    NaN
161123    NaN
162907    NaN
164905    NaN
168204    0.0
213917    0.0
630003    NaN
630103    NaN
700005    0.0
700006    NaN
dtype: float64

In [103]:
a-b.fillna(0)

fund_code
000402    NaN
000403    NaN
001739    NaN
001750    NaN
004957    NaN
005007    NaN
005541    NaN
005542    NaN
005582    NaN
005921    NaN
161123    NaN
162907    NaN
164905    NaN
168204    0.0
213917    0.0
630003    NaN
630103    NaN
700005    0.0
700006    NaN
dtype: float64

In [104]:
(a-b).fillna(0)

fund_code
000402    0.0
000403    0.0
001739    0.0
001750    0.0
004957    0.0
005007    0.0
005541    0.0
005542    0.0
005582    0.0
005921    0.0
161123    0.0
162907    0.0
164905    0.0
168204    0.0
213917    0.0
630003    0.0
630103    0.0
700005    0.0
700006    0.0
dtype: float64

In [105]:
fds_all_1y

,fund_code,date,price,accumulate,daily_rate,purchase_state,ransom_state,dividends
5,001481,2018-12-24,0.0614,0.0614,-0.04660,开放申购,开放赎回,
7,001481,2018-12-25,0.0615,0.0615,0.00160,暂停申购,暂停赎回,
20,001481,2018-12-21,0.0644,0.0644,-0.02280,开放申购,开放赎回,
22,001481,2018-12-20,0.0659,0.0659,-0.03230,开放申购,开放赎回,
28,001481,2018-12-28,0.0667,0.0667,-0.01620,开放申购,开放赎回,
...,...,...,...,...,...,...,...,...
2696493,184801,2018-12-31,109.8090,1.1910,0.00024,场内买入,场内卖出,
2696494,184801,2018-11-30,109.8290,1.1910,0.00024,场内买入,场内卖出,
2696495,184801,2018-12-21,109.8480,1.1920,0.00024,场内买入,场内卖出,
2696496,184801,2018-12-07,110.1330,1.1940,0.00024,场内买入,场内卖出,
2696497,184801,2018-12-14,110.2240,1.1950,0.00024,场内买入,场内卖出,

In [106]:
fds_all_1y.price/fds_all_1y.accumulate

5           1.000000
7           1.000000
20          1.000000
22          1.000000
28          1.000000
             ...
2696493    92.198992
2696494    92.215785
2696495    92.154362
2696496    92.238693
2696497    92.237657
Length: 1149070, dtype: float64

In [107]:
c

,fund_code,date,price,accumulate,daily_rate,purchase_state,ransom_state,dividends
3,001481,2016-01-19,0.0608,0.0608,-0.0500,限制大额申购,开放赎回,
1105,001093,2016-01-19,0.1281,0.1281,-0.0206,限制大额申购,开放赎回,
1182,110032,2016-01-19,0.1298,0.1298,0.0269,开放申购,开放赎回,
1183,110033,2016-01-19,0.1298,0.1298,0.0269,开放申购,开放赎回,
1960,000885,2016-01-19,0.1412,0.1412,-0.0049,限制大额申购,开放赎回,
...,...,...,...,...,...,...,...,...
2693792,240008,2016-01-19,5.3924,5.3924,0.0321,开放申购,开放赎回,
2693863,590008,2016-01-19,5.4380,5.4380,0.0299,开放申购,开放赎回,
2694353,070006,2016-01-19,5.8250,6.3250,0.0419,开放申购,开放赎回,
2695020,070002,2016-01-19,8.7650,9.4060,0.0241,限制大额申购,开放赎回,
2695456,000011,2016-01-19,9.6300,13.6100,0.0381,开放申购,开放赎回,

In [108]:
c = fds_all_1y[fds_all_1y.fund_code, fds_all_1y.price/fds_all_1y.accumulate]

TypeError: '(5          001481
7          001481
20         001481
22         001481
28         001481
            ...
2696493    184801
2696494    184801
2696495    184801
2696496    184801
2696497    184801
Name: fund_code, Length: 1149070, dtype: object, 5           1.000000
7           1.000000
20          1.000000
22          1.000000
28          1.000000
             ...
2696493    92.198992
2696494    92.215785
2696495    92.154362
2696496    92.238693
2696497    92.237657
Length: 1149070, dtype: float64)' is an invalid key

In [110]:
c = fds_all_1y["fund_code", "price", "accumulate"]

KeyError: ('fund_code', 'price', 'accumulate')

In [136]:
%time c = fds_all_1y[["fund_code","price","accumulate"]].rename(columns={"fund_code":"fund"}).set_index("fund")

Wall time: 209 ms

In [137]:
c

           price  accumulate
fund
001481    0.0614      0.0614
001481    0.0615      0.0615
001481    0.0644      0.0644
001481    0.0659      0.0659
001481    0.0667      0.0667
...          ...         ...
184801  109.8090      1.1910
184801  109.8290      1.1910
184801  109.8480      1.1920
184801  110.1330      1.1940
184801  110.2240      1.1950

[1149070 rows x 2 columns]

In [120]:
c

        fund_code     price  accumulate        fff
5          001481    0.0614      0.0614   1.000000
7          001481    0.0615      0.0615   1.000000
20         001481    0.0644      0.0644   1.000000
22         001481    0.0659      0.0659   1.000000
28         001481    0.0667      0.0667   1.000000
...           ...       ...         ...        ...
2696493    184801  109.8090      1.1910  92.198992
2696494    184801  109.8290      1.1910  92.215785
2696495    184801  109.8480      1.1920  92.154362
2696496    184801  110.1330      1.1940  92.238693
2696497    184801  110.2240      1.1950  92.237657

[1149070 rows x 4 columns]

In [121]:
%time c["fff"]=c["price"]/c["accumulate"]

Wall time: 17 ms

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [123]:
%time c["fff"]=c.apply(lambda x: x["price"]/x["accumulate"], axis=1)

Wall time: 44.2 s

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
%time c["fff"]=c.apply(lambda x: x["price"]/x["accumulate"], axis=1)

Wall time: 43.7 s

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
%time c["fdf"]=c["price"]/c["accumulate"]

Wall time: 14 ms

C:\Users\leezehua\AppData\Local\conda\conda\envs\py369\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [129]:
c.set_index("price")

         fund_code  accumulate        fff        fdf
price
0.0614      001481      0.0614   1.000000   1.000000
0.0615      001481      0.0615   1.000000   1.000000
0.0644      001481      0.0644   1.000000   1.000000
0.0659      001481      0.0659   1.000000   1.000000
0.0667      001481      0.0667   1.000000   1.000000
...            ...         ...        ...        ...
109.8090    184801      1.1910  92.198992  92.198992
109.8290    184801      1.1910  92.215785  92.215785
109.8480    184801      1.1920  92.154362  92.154362
110.1330    184801      1.1940  92.238693  92.238693
110.2240    184801      1.1950  92.237657  92.237657

[1149070 rows x 4 columns]

In [ ]:
fund_list = data_oper